body {
    /* ustawiamy kolor tła strony */
    background-color: rgb(104, 118, 184);
    /* kolor czcionki */
    color: azure;
    /* ustawiamy czcionki na stronie */
    font-family: Arial, Helvetica, sans-serif;
    /* rozmiar czcionki */
    font-size: 14pt;
    /* ustawiamy marginesy wewnętrzne */
    padding: 20px;
}

/* wysrodkowanie strony */
#wysrodkowanie{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  // border: 1px;
  // border-style: solid;
  }

/* nieodwiedzony link */
a:link {
    color: rgb(255, 238, 0);
    text-decoration: none;
  }
  
  /* odwiedzony link */
  a:visited {
    color: rgb(255, 238, 0);
  }
  
  /* kursor nad linkiem */
  a:hover {
    color: hotpink;
  }
  
  /* jak ma wyglądać link kiedy w niego klikneliśmy ale nie puściliśmy lewego przycisku myszy */
  a:active {
    color: blue;
  }